.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 400px; 
}

.container_login {
    padding: 0px;
    text-align: center ;
    padding-bottom: 5px;
    padding-top: 5px;
}

.close {
    position: absolute;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    cursor: pointer;
}

.item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
.item span {
      font-style: normal;
  }