<div id="categories" class="container-fluid text-center">
    <h2>Home</h2>
    <h4>Streamline your Search by choosing one</h4>
    <br>

    <div class="row slideanim">
        
        <div class="col-sm-3">
            <a href="#c1"><img src="Images/cars.png" alt="cars" height=80, width=80><h4>Cars</h4></a>
        </div>

        <div class="col-sm-3">
            <a href="#"><img src="Images/bikes.png" alt="bikes" height=80, width=80><h4>Bikes</h4></a>
        </div>

        <div class="col-sm-3">
            <a href="#"><img src="Images/electronics.png" alt="electronics" height=80, width=80><h4>Electronics</h4></a>
        </div>

        <div class="col-sm-3">
            <a href="#"><img src="Images/realestate.png" alt="real estate" height=80, width=80><h4>Real Estate</h4></a>
        </div>
    
    </div>


    <br><br>

    
    <div class="row slideanim">
        
        <div class="col-sm-3">
            <a href="#"><img src="Images/clothing.png" alt="clothing" height=80, width=80><h4>Clothing</h4></a>
        </div>

        <div class="col-sm-3">
            <a href="#"><img src="Images/services.png" alt="services" height=80, width=80><h4>Services</h4></a>
        </div>
        
        <div class="col-sm-3">
            <a href="#"><img src="Images/pets.png" alt="pets" height=80, width=80><h4 style="color:#303030;">Pets</h4></a>
        </div>

        <div class="col-sm-3">
            <a href="#"><img src="Images/jobs.png" alt="jobs" height=80, width=80>      <h4 style="color:#303030;">Jobs</h4></a>
        </div>
 
    </div>

</div>