<div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">Contact Us</h2>
    <br>
    <div class="row">
        <div class="col-sm-5">
            <p>Contact Details</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Mumbai, India</p>
            <p><span class="glyphicon glyphicon-phone"></span> +91 1234567890</p>
            <p><span class="glyphicon glyphicon-envelope"></span> abc@sellkaro.com</p>
        </div>


        <div class="col-sm-7 slideanim">
            <!--<div class="row">
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                    <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Any Comment/Queries" rows="5"></textarea><br>
            <div class="row">
                <div class="col-sm-12 form-group">
                    <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
            </div>-->

            <div class="container_login">
                <label><b> Name  </b></label><br>
                <input type="text" placeholder=" Name" name="Uname" required><br><br>

                <label><b> Email  </b></label><br>
                <input type="email" placeholder="  Password" name="Uemail" required><br><br>

                <label><b> Any Queries/Comments  </b></label><br>
                <textarea rows="4" cols="50" required> </textarea>
                <br>
                <br>
                <button class="btn btn-lg">Send</button><br>
                <br>
                <br>
            </div>
        </div>
    </div>
  </div>
